geometry.sublime-workspace
geometry.sublime-project
.idea
formatter/.libs
.idea/workspace.xml
bin/php
bin/phpize
bin/php-config
test/php.log
*.lo
*.o
.libs
gmon.out
test/**/memcheck.*
test/**/*.kml
test/**/*.js
libgtest.a
